<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recommendation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Recommendation System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!-- <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li> -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" style="margin-top: 50px;">
      <h2>New Project</h2>
      {% if errors %}
      <div class="alert alert-danger">
        {{ errors }}
      </div>
      {% endif %}
      <form method=post enctype=multipart/form-data>
        <div class="form-group">
          <label for="project">Name Project</label>
          <input type="text" class="form-control" id="project" name="project" aria-describedby="nameHelp" placeholder="Enter project">
          <small id="nameHelp" class="form-text text-muted">Name Project is unique</small>
        </div>
        <div class="form-group">
          <label for="file">File upload</label>
          <input type="file" class="form-control" id="file" name="file" aria-describedby="fileHelp" placeholder="Enter project">
          <small id="fileHelp" class="form-text text-muted">File example: <a href="/uploads/example.csv">example.csv</a>
            <table class="table table-bordered" style="width:200px;">
              <thead>
                <tr>
                  <th>user_id</th>
                  <th>item_id</th>
                  <th>rating</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>1</td>
                  <td>3.5</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>5</td>
                  <td>4.5</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>7</td>
                  <td>9</td>
                </tr>
              </tbody>
            </table>
            - User 'rate' item events<br/>
            - User 'buy' item events (rating=1)<br/>
            You can customize to use other event.
          </small>
        </div>
        <button type="submit" class="btn btn-primary">Create Project</button>
      </form>

      <h2>List Projects</h2>
      <ul class="list-group">
     {% for project in projects %}
       <li class="list-group-item"><a href="/project/{{ project.name }}">{{ project.name }}</a></li>
     {% else %}
       <li class="list-group-item"><em>Unbelievable.  No projects here so far</em></li>
     {% endfor %}
     </ul>

    </div><!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
