<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Recommendation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Recommendation System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container"  style="margin-top: 50px;">
      <h2>Project: {{ project }}</h2>
      <ul class="list-group">
        <li class="list-group-item">
          GET /{{ project }}/user_id/recommendation/top/10<br/>
          <small>
            <b>Input Query</b><br/>
            - user ID<br/>
            - num of recomended items(1 <= n <= 20)<br/>
            <b>Output PredictedResult</b><br/>
            a ranked list of recommended itemIDs
          </small>
        </li>
        <li class="list-group-item">
          GET /{{ project }}/item_id/recommendation-product/top/10<br/>
          <small>
            <b>Input Query</b><br/>
            - item ID<br/>
            - num of recomended users(1 <= n <= 20)<br/>
            <b>Output PredictedResult</b><br/>
            a ranked list of recommended userIDs
          </small>
        </li>
        <li class="list-group-item">
          GET /{{ project }}/item_id/sims/top/10<br/>
          <small>
            <b>Input Query</b><br/>
            - item ID<br/>
            - num of recomended items(1 <= n <= 20)<br/>
            <b>Output PredictedResult</b><br/>
            a ranked list of recommended itemIDs
          </small>
        </li>
        <li class="list-group-item">
          POST /{{ project }}/add -d "user_id,item_id,rating"<br/>
          <small>
            - Add user 'rate' item events<br/>
            - Add user 'buy' item events (rating=1)<br/>
            You can customize to use other event.
          </small>
        </li>
      </ul>

    </div><!-- /.container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
